#banner
    .banner_content
        %h1 Binder
        %p Organize your files.
        %button= link_to "Enter", docs_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Literally chambray cray godard banjo, next level humblebrag. Aesthetic four dollar toast pop-up paleo, cred master cleanse mustache 8-bit. Vegan kale chips truffaut heirloom pok pok biodiesel umami humblebrag raw denim offal flexitarian. Prism yuccie hella swag viral PBR&B, butcher letterpress raclette squid +1 williamsburg. Flexitarian shaman freegan swag.




#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path
